.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.cart-container h1{
    width: 100%;
    text-align: center;
}
.cart-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.cart-item button{
    border: 1px solid ;
    padding: 10px;

}